canvas {
    position: absolute;
    z-index: 0;
    width: 480px;
    height: 480px;
}

.graph-frame {
    width: 480px;
    height: 480px; 
}
.graph {
    object-fit: contain;
}

.frame {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0px;
}
